<div class="container">

    <h1 class = "text-center">My Goals</h1>
    <hr id="topHeading">  

    <div class="row">

        <!-- Goals collumn -->
        <div class="col-md-6">

            <ul *ngFor="let goal of goals, let i = index">
                <li>
                    <p appStrikethrough><strong>{{goal.name | uppercase}}</strong></p>
                    <app-goal-detail [goal]="goal" *ngIf="goal.showDescription" ></app-goal-detail>

                    <!-- Button -->
                    <button class="btn btn-outline-danger" (click)="deleteGoal(i)">Delete Goal</button>
                    <button class="btn btn-outline-primary" (click)="viewDetails(i)">View details</button>
                </li>
            </ul>

        </div>

        <!-- Adding goals form -->
        <div class="col-md-6">

            <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>

        </div>

        <div class="row">

            <!-- QUOTES SECTION -->
            
            <div class="row quotes ">
            
                <div class="col-md-2">
            
                    <!-- Column one for spacing purposes for the middle column that have the content. -->
            
                </div>
            
                <div class="col-md-8 text-center">
            
                    <!-- This section display the quotes from api -->
            
                    <div class="shadow-lg p-3 mb-5 bg-body rounded">
            
                        <p>{{quote.quote}}</p>
                        <hr>
                        <p><em><strong>{{quote.author}}</strong></em></p>
            
                    </div>
            
                </div>
            
                <div class="col-md-2">
            
                    <!-- An empty column for spacing purpose -->
            
                </div>
            
            </div>

        </div>

    </div>

</div>