<div class="container">

    <h1 class = "text-center">My Goals</h1>
    <hr id="topHeading">  

    <div class="row">

        <!-- Goals collumn -->
        <div class="col-md-6">

            <ul *ngFor="let goal of goals, let i = index">
                <li>
                    <p appStrikethrough><strong>{{goal.name | uppercase}}</strong></p>
                    <app-goal-detail [goal]="goal" *ngIf="goal.showDescription" (deletingGoal)="confirmDeletion($event, i)"></app-goal-detail>
                    <button class="btn btn-outline-primary" (click)="toggleDescription(i)">View details</button>
                </li>
            </ul>

        </div>

        <!-- Adding goals form -->
        <div class="col-md-6">

        </div>

        <div class="row">

            <!-- Randoms quotes -->

        </div>

    </div>

</div>